
@{
    Layout = null;
}

@model IEnumerable<HaberPortal.Entity.Haber>
<aside id="block_latest_headlines" class="block">
    <h3 class="block_title">Son Dakika</h3>
    <div class="content">
        <ul>
            @{
            int sayac = 0;
            }
            @foreach (var haber in Model)
            {
                @if (sayac == 0)
                {
                    <li class="first"><a href="#">Integer rutrum ante eu lacus.</a></li>
                }
                else if (sayac==6)
                {

                }
                else
                {

                }

        }


        </ul>
        <p><a href="#" class="view_all"><span><span>Hepsi Gör</span></span></a></p>
    </div>
</aside>